.Card{
display: inline-block;
background: rgb(151, 151, 158);
justify-content: center;
align-items: center;
border: 2px solid rgb(139, 138, 138);
border-radius: 5px;
width: 30%
}

.Foto{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 60%;
    overflow: hidden;
    padding: 10px;
}

.Info{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 40%;
    padding: 10px;

}

img{
    
    position: relative;
    width: 80%;

}

